:root {
    --text-color: #000000;
    --text-fonts: 'Nunito Sans', sans-serif;
    --font-size-base: 16px;
    --heading-fonts: 'Baskervville', serif;
}

@function rem-calc($size) {
    $remSize: $size / 16;
    @return #{$remSize}rem;
}

html, body {
    font-size: 16px;
    height: 100%;
}

body {
    color: var(--text-color);
    margin: 0;
    background-repeat: repeat;
    font-family: var(--text-fonts);
}

h1, h2 {
    font-family: 'Baskervville', serif;
    font-weight: lighter;
    margin: 0 0 rem-calc(16);
    @media (min-width: 968px) {

    }
}

h1 {
    font-size: rem-calc(64);
    letter-spacing: -3px;
    line-height: 1;
    @media (min-width: 968px) {
        font-size: rem-calc(88);
        letter-spacing: -6px;
        margin: 0 0 rem-calc(16);
    }
}

h2 {
    font-size: rem-calc(16);
    font-family: var(--text-fonts);
    @media (min-width: 968px) {
        font-size: rem-calc(16);
        margin: 0 0 rem-calc(24);
    }
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
        margin-right: 16px;
    }
}

a {
    display: inline-block;
    color: var(--text-color);
    text-decoration: none;

    &:active,
    &:focus,
    &:visited {
        color: var(--text-color);
        text-decoration: none;
    }

    &:hover {
        text-decoration: underline;
    }
}

.main {
    padding: 0 rem-calc(24);
    height: 100%;
    @media (min-width: 968px) {
        max-width: rem-calc(1300);
        margin: 0 auto;
    }
}

.card {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 48px);
    @media (min-width: 968px) {
        width: rem-calc(700);
    }
}


@media (max-width: 1000px) {

}

.glitch {
    animation-name: text-glitch;
    animation-duration: 300ms;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}

@keyframes text-glitch {
    0% {
        clip-path: polygon(0% 70%, 0% 100%, 100% 100%, 100% 70%);
        transform: translateX(-15px);
    }
    40% {

    }
    60% {

    }
    80% {

    }
    to {
        transform: translate(0)
    }
}